.container1 {           /*first page design*/
    background-image: url(./Imagesfordesign/infinite-loop-01.jpg);
    width: 100%;
    height: 700px;
    font-family: "Raleway", sans-serif;
    background-color: white;
}
div.subcontainer1 {
    float: left;
    margin: 30px;
    padding: 1px;
    border-bottom: 1px;
    font-weight: 20px;
}
div.leftIL {
    margin: 20px; color: aliceblue; 
    font-size: 20px;
    font-weight: bold;
    padding: 0px auto ;
}
div.sub1 {
    padding: 5px;
    margin: 20px;
    color: aliceblue;
    font-style: "Raleway", sans-serif;
    font-size: x-large;
}
div.home {
    float: right;
    padding-left: 30px;
    padding-right: 30px;
}
div.wwd {
    float: right;
    padding-left: 30px;
    padding-right: 30px;
}
div.test {
    float: right;
    padding-left: 30px;
    padding-right: 30px;
}
div.gallery {
    float: right;
    padding-left: 30px;
    padding-right: 30px;
}
div.contact {
    float: right;
    padding-left: 30px;
    padding-right: 30px;
}
div.subcontainer2 {
    margin: 100px 150px 100px 150px;
    padding-top: 200px;
    padding-bottom: 50px;
}
div.sub2 {
    margin: 20px;
    font-size: x-large;
    font-family: "Raleway", sans-serif;
    color: aliceblue;
    padding-left: 5%;
    text-align: center;
}
div.sub3 {
    margin: 30px;
    font-size: x-large;
    font-family: "Raleway", sans-serif;
    color: aliceblue;
    padding-left: 5%;
    text-align: center;
    text-indent: 40px;
    letter-spacing: 2px;
    line-height: 1.8;
    font-weight: lighter;
}
