div.maincontainer {
    width: 100%;
    height: 950px;
    background: url(./Imagesfordesign/infinite-loop-03.jpg);
    font-family: "Raleway",sans-serif;
    color: white;
}
div.container1 {                         /*testimonial heading*/
    width: 99%;
    height: 250px;
    margin: 10px;
    padding: 2px auto;
}
div.heading {
    width: 98%;
    height: 150px;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    padding: 1px;
    margin-bottom: 10px;
}
div.content {
    width: 100%;
    height: 77px;
    text-align: center;
    max-width: 1000px;
    font-size: 17px;
    margin-left: 280px;
    line-height: 1.9;
    box-sizing: border-box;
}

div.container2 {
    width: 95%;
    height: 650px; margin-left: 60px;
}
div.contacts1 {
    width: 40%;
    height: 630px;
    margin-left: 50px;
    float: left;
}

.yourname {
    width: 90%;
    height: 45px;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 25px; color: white;
    border-color:  white;
    background: transparent;
}
.email {
    width: 90%;
    height: 45px;
    margin-left: 30px;margin-top: 30px;
    border-radius: 10px;
    font-size: 25px; color: white;
    background: transparent;
    border-color: white;
}
.message {
    width: 85%;
    height: 250px; padding: 8px 20px;
    margin-left: 30px;margin-top: 30px;
    border-radius: 10px;
    font-size: 25px;
    background: transparent;
    color: white;
    border-color: white;
}
.button {
    width: 40%;
    height: 50px;
    background-color: #369;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline; margin-left: 30px;
    font-size: 16px; margin-bottom: 60px;
    cursor: pointer; margin-top: 40px;
    border-radius: 10px;
}

div.contacts2 {
    width: 40%;
    height: 630px;
    margin-right: 100px;
    float: right;
}

div.chat {
    margin: 50px 30px 50px 30px;
    height: 60px;
    font-size: 20px;
}
div.logoc {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    padding-right: 5px;
}
div.headc {
    width: 50%;
    height: 50px;
    margin-left: 30px;
    padding-left: 0px;
    margin-bottom: 7px;
    float: left;
}
