div.container {                                 /*top headings*/
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 1200px;
}
div.subcontainer {
    margin: 10px 120px 10px 100px;
    padding: 2px;
}
div.leftIL {
    font-weight: normal;
    float: left;
    color: #37A;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    margin: 10px 50px 15px 70px;
    padding: 0px auto;
}
div.righttaskbar {
    margin: 20px;
    float: right;
    font-size: 10px;
    padding: 0 auto;
    margin-left: 1px 30px 1px;
    color: #38B;
}
div.home {
    margin: 1px;
    float: left;
    padding-right: 30px;
}
div.wwd {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}
div.test {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}
div.gallery {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}
div.contact {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

div.subcontainer2 {
    float: left;
    margin: 10px 110px 0.05px 100px;
    box-sizing: border-box;
}
div.leftwwd {
    text-align: left;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 24px;
    text-indent: 5px;
    font-weight: lighter;
    color: #38B;
}
div.contentwwd {
    line-height: 1.9;
    text-align: left;
    width: 100%;
    min-height: 1px;
    position: relative;
    font-size: 20px;
    color: #707070;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: #38B;
    text-decoration: none;
}
a:hover {
    color: #D40;
    text-decoration: none;
}

div.subcontainer3 {
    float: left;
    box-sizing: border-box;
    margin: 100px;
    width: 86%;
    height: 670px;
}
div.content1 {
    margin: 2px;
    width: 99%;
    height: 330px;
}
div.market {                                    /*market analysis*/
    margin: 5px;
    padding: 10px;
    float: left;
    width: 45%;
    height: 300px;
}
div.marketheading {
    background-position: center;
    width: 100%;
    height: 70px;
    color: #38B;
}
div.logom {
    width: 15%;
    height: 70px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
div.marketanalysis {
    font-size: 20px;
    line-height: 1.9px;
    width: 84%;
    height: 70px;
    float: right;
}
div.marketcontent {
    width: 83%;
    height: 190px;
    float: right;
    margin: 5px;
    color: #707070;
    font-size: 20px;
    line-height: 1.9;
}

div.support {                                       /*fast support*/
    margin: 5px;
    padding: 10px;
    float: right;
    width: 50%;
    height: 300px;
}

 a.linkbutton1:hover, a.linkbutton1:active {
    background-color: #38B;
 }
 a.linkbutton1, link a.linkbutton1:visited {
    background-color: #37A;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
 }

 a.linkbutton2, link a.linkbutton2:visited {
    background-color: #37A;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
 }
 a.linkbutton2:hover, a.linkbutton2:active {
    background-color: #38B;
 }